*{
    box-sizing:border-box;
}


body{

    font-family:tahoma, Arial;
    background:#f1f8f4;
    margin:0;
    padding:20px;
    color:#333;

}


.container{

    max-width:650px;
    margin:auto;

}


.header{

    background:linear-gradient(135deg,#2e7d32,#66bb6a);
    color:white;
    padding:30px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 5px 15px #bbb;

}



.header h1{

    margin:0;
    font-size:32px;

}


.header p{

    font-size:18px;

}



.card{

    background:white;
    margin-top:20px;
    padding:20px;
    border-radius:20px;
    box-shadow:0 4px 12px #ddd;

}



.card h2{

    color:#2e7d32;

}



button{

    width:100%;
    padding:15px;
    margin-top:12px;
    border:none;
    border-radius:15px;
    background:#1976d2;
    color:white;
    font-size:18px;
    cursor:pointer;

}



button:hover{

    background:#125aa0;

}



.title{

    text-align:center;
    color:#2e7d32;

}
